.productGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 900px;
    margin: auto;
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    margin: auto;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: contain;
  }
  
  .card h3 {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    overflow-x: hidden;
    max-height: 50px;
  }
  
  .card p {
    font-size: 1,5rem;
    color: #6C1B9E;
    font-weight: bold;
  }
  
  .stockInfo {
    background: #f1f1f1;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
  }
  
  .viewMoreBtn {
    background-color: #6C1B9E;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .viewMoreBtn:hover {
    background-color: #14006e;
  }

  .loading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem;
    color: #6C1B9E;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  
  @media (max-width: 1400px) {
    .product-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      width: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .product-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
    }
  }
  
  @media (max-width: 480px) {
    .product-gallery {
      grid-template-columns: 1fr;
    }
    .card img {
      height: 160px;
    }
  }
  